.entete{
    font-weight: bold;
    color: white;
    text-align:center;
    background-color: #4e73df;
    height: 50px;
}
.colonne-horaire{
    font-weight: bold;
    color:black;
    text-align:center
}
.data{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.colonne-prof{
    color:black;
    font-weight:bold
}
.colonne-salle{
    color: rgba(0, 0, 255, 0.512);
    font-weight:bold
}
.colonne-pause{
    text-align: center;
    height: 10px;
}
.colonne-data{
    text-align: center;
    height: 10px;
}
.clon:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.274);
}
